user_uuid = "06d1f954-74a5-4bb1-bf8c-596e7e563cd7"
bucket_name = "terraform_bootcamp_bucket_2023"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version = 1